body{
	//background-color: LightGreen;
	font-family: 'Oxygen', sans-serif;
}


#header-nav{
	background-color: LightGray;
	border-color: black;
	border: 1px;
}

.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  //text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}