body{
	//background-color: LightGreen;
	font-family: 'Oxygen', sans-serif;
}

h2 {
	//text-align: center;
	font-weight: bold;
}

#header-nav{
	background-color: LightGray;
	border-color: black;
	border: 1px;
}

.navbar-brand h1 { /* Restaurant name */
  color: black;
  font-size: 1.5em;
  //text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;

}


p.food{
	background-color: LightGray;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-top: 15px;
	margin-bottom: 0;
	padding-bottom: 10px;



}

p.description{
	background-color: LightGray;
	font-size: 16px;
	font-weight: 500;
	padding-left: 20px;
  	padding-right: 20px;
  	padding-bottom: 20px;


}